Host bastion
    User                   kelvin_deephalf_ca
    HostName               bastion.shibatek.ca
    ProxyCommand           none
    IdentityFile           /cygdrive/g/gcp/ssh_keys/kelvin/id_rsa.pem
    BatchMode              yes
    ControlPath            ~/.ssh/ansible-%r@%h:%p
    PasswordAuthentication no

Host *-i-*
    ProxyCommand           ssh -W  %h:%p kelvin_deephalf_ca@bastion.shibatek.ca
    IdentityFile          /cygdrive/g/gcp/ssh_keys/kelvin/id_rsa.pem

Host web01-blog-sfo.kelvinsblog.com pve01-fr.shibatek.ca
    User                   kelvin
    HostName               %h
    ControlPath            ~/.ssh/ansible-%r@%h:%p
    IdentityFile           /cygdrive/g/gcp/ssh_keys/kelvin/id_rsa.pem
    PasswordAuthentication no
