[Definition]
actionstart =
actionstop =
actioncheck =
actionban = {{ mailgun_sender_install_path }}/{{ mailgun_sender_binary }} -conf {{ mailgun_sender_install_path }}/mailgun_conf.json -ip-address <ip> -service <name>
actionun = 